<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="curtis_motor">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find caddy_ai2_ros2_control_hardware_curtis_motor_driver)/ros2_control/curtis_motor.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:curtis_motor_ros2_control update_rate="$(arg update_rate)"/>

</robot>
